# General
.idea
.vscode
node_modules
out
official_notion
docs
dist-tauri

# AUR build artifacts
*.pkg.tar.zst
*.pkg.tar.xz
pkg/
*.src.tar.gz
.SRCINFO

# Rust
target/
src-tauri/target/
Cargo.lock

# Tauri
src-tauri/bin/
src-tauri/gen/
src-tauri/lib/
src-tauri/target/
