[Desktop Entry]
Name=lotion-rs
Comment=Unofficial Notion.so Desktop app for Linux
Exec=lotion-rs %U
Icon=lotion
Type=Application
StartupNotify=true
Categories=Office;TextEditor;
MimeType=x-scheme-handler/notion;
StartupWMClass=lotion-rs